@import url('https://fonts.googleapis.com/css?family=Roboto');

%body-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 20px 0;
    width: 100%;
    max-width: 900px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Roboto, Arial, sans-serif;
}

.hero {
    background-image: url("img/yosemite-600.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    
    .background-shading {
        background-color: black;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .hero-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 0 0 10px black;
        position: absolute;
        z-index: 2;
        
        .profile-pic {
            background-image: url("img/twitter_crop_light.jpg");
            background-size: cover;
            background-position: center top;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px solid white;
            margin: 5px;
        }
        
        .title {
            font-size: 400%;
            font-family: Roboto, sans-serif;
            margin: 5px;
        }
        .subtitle {
            margin: 5px;
            font-size: 120%;
        }
        .social-menu {
            margin: 5px;
            display: flex;
            justify-content: space-between;
            width: 150px;
            
            i {
                color: white;
            }
        }
    }
    
    
}

.portfolio {
    @extend %body-section;
    
}

hr {
    width: 90%;
}

.skills {
    @extend %body-section;
    
    div {
        max-width: 400px;
    }
    
    .icon-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        svg {
            width: 100px;
            height: 100px;
            margin: 10px;
            color: gray;
        }
    }
}

.about {
    @extend %body-section;
    
    div {
        max-width: 400px;
        
        p {
            font-size: 95%;
        }
    }
}


.column {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    
    .col-title {
        font-size: 150%;
        font-family: Roboto, sans-serif;
        text-align: center;
    }
    hr {
        width: 100px;
    }
    a {
        margin: 20px 0;
        
        img {
            box-shadow: 0 0 3px #666;
            width: 100%;
            height: auto;
        }
    }
}

.footer {
    @extend %body-section;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .hero {
        background-image: url("img/yosemite-800.jpg");
    }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
    .hero {
        background-image: url("img/yosemite-1200.jpg");
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        background-image: url("img/yosemite-2400.jpg");
        background-attachment: fixed;
    }
}