@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url("img/yosemite-600.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .title {
        font-size: 400%;
        font-family: Roboto, sans-serif;
    }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 20px 0;
    width: 100%;
    max-width: 900px;
    
    .column {
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        .col-title {
            font-size: 120%;
            font-family: Roboto, sans-serif;
            text-align: center;
            //margin: 5px;
        }
        hr {
            width: 100px;
        }
        a {
            margin: 20px 0;
            
            img {
                box-shadow: 0 0 3px #666;
            }
        }
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .hero {
        background-image: url("img/yosemite-800.jpg");
        height: 300px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
    .hero {
        background-image: url("img/yosemite-1200.jpg");
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        background-image: url("img/yosemite-2400.jpg");
        height: 500px;
    }
}